
:root {
  --blue-color: #012233;
  --blue-color-2: #16192c;
  --black-color: #111111;
  --black-color-2: #000;
  --black-color-3: #212529;
  --green-color: #33ed88;
  --green-color-2: #d3f9d8;
  --green-color-3: #e1fded;
  --gray-color: #595959;
  --gray-color-2: #edeff1;
  --gray-color-3: #414141;
  --white-color: #ffffff;
  --white-color-2: #e7e7e7c4;
  --white-color-3: #e1e1e1;
}



h1.heading,
h2.heading,
h3.heading,
h4.heading,
h5.heading,
h6.heading {
  font-weight: 700;
}

h1.heading {
  font-size: 45px;
}

h2.heading {
  font-size: 42px;
}

h3.heading {
  font-size: 37px;
}

h4.heading {
  font-size: 30px;
}

h5.heading {
  font-size: 24px;
}

h6.heading {
  font-size: 19px;
}

p,
.banner-para {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

button.buttonn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  cursor: pointer;
  text-decoration: none;
}

ul li {
  line-height: 33px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: var(--white-color);
}
